article {
	padding: 5em;
}
h2{
	margin: 0.5em auto 0.2em auto;
}
img{
	//border: 1px solid blue;
	max-height: 10em;
	height: 35vh;
	object-fit: scale-down;
	margin-bottom: 5px;
	}
h4{
	margin: 0 auto;
	}
p{
	font-size: 12px;
	margin: 0 10px 10px;
}