/* FONTS importadas en index.html */
* {
	/*border: 1px solid green;*/
	box-sizing: border-box;
}
body{
	padding-top: 5em;
	font-family: 'Poppins';
}
.container {
	display: flex;
	flex-direction: column;
}

.showcase {
	display: flex;
	justify-content: space-around;
}

.nice-border {
	border: 1px solid rgba(0,0,0, 50%);
	border-radius: 25px;
}
.shadow {
	box-shadow: 0 0 10px rgba(0, 0, 0, 50%);
}

header {
	display: flex;
	align-items: center;
  justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: black;
	box-shadow: 0 2px 5px rgba(0,0,0,50%);
	user-select: none;
	padding: 0 10%;
}
header h1 {
	padding: 0;
	margin: 0;
	font-size: 36pt;
}
header a {
	text-decoration: none;
	color: orange;
	cursor: pointer;
}

.moto {
	font-weight: 200;
	font-style: italic;
	color: white;
	margin: 0;
	top: -0.5em;
  position: relative;
}
p.title {
	margin: .75em 1em 0.2em 0.5em;
	font-weight: bold;
}

ul.navbar-nav {
	display: flex;
	justify-content: space-around;
	padding: 0;
}

li.nav-item {
	position: relative;
	list-style-type: none;
	padding: .75em;
	margin: auto 1em;
	border: 1px solid orange;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	text-align: -webkit-center;
	transition: all .2s ease;
	height: 51px;
}

li.nav-item:hover {
	background-color: orange;
}
li.nav-item:hover > a {
	color: white;
	font-weight: bold;
}
a.nav-link::before {
	display: block;
	content: attr(data-text);
	font-weight: bold;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.quantity-cart {
	position: absolute;
	top: -14px;
	left: 33px;
	width: 29px;
	height: 29px;
	border-radius: 18px;
	background-color: red;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

main {
	display: flex;
	margin: auto;
	width: 80%;
	font-weight: 200;
}


.greetings {
 padding: 2em 0;
 font-size: 16pt;
}

article {
 width: 200px;
 height: 200px;
}